@{
    ViewData["Title"] = "HR Dashboard";
}

<h2>HR Dashboard</h2>

<div>
    <a href="/HR/ManageLecturers" class="btn btn-primary">Manage Lecturers</a>
    <a href="/HR/ApprovedClaimsReport" class="btn btn-primary">Approved Claims Report</a>
</div>
